[submodule "yii"]
	path = yii
	url = https://github.com/yiisoft/yii.git
[submodule "extensions/select2.old"]
	path = extensions/select2.old
	url = https://github.com/anggiaj/ESelect2.git
[submodule "extensions/select2"]
	path = extensions/select2
	url = ../../anggiaj/ESelect2.git
[submodule "extensions/Ei18n"]
	path = extensions/Ei18n
	url = https://github.com/tonydspaniard/yii-ei18n.git
